---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=Denver%20CO&key=<GEOCODE_API>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Denver, CO
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "access_points" : [
                    {
                       "access_point_type" : "TYPE_ESTABLISHMENT_POI",
                       "location" : {
                          "latitude" : 39.750605,
                          "longitude" : -104.990926
                       },
                       "place_id" : "ChIJrYXVe9l4bIcRvhpeKUy2jFQ",
                       "unsuitable_travel_modes" : []
                    },
                    {
                       "access_point_type" : "TYPE_ESTABLISHMENT_POI",
                       "location" : {
                          "latitude" : 39.7413409,
                          "longitude" : -104.9871046
                       },
                       "place_id" : "ChIJF2OWCtV4bIcRXOq29vexYYw",
                       "unsuitable_travel_modes" : []
                    },
                    {
                       "access_point_type" : "[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/timezone/json?key=<GEOCODE_API>&location=39.7392358,-104.990251&timestamp=1583262000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "dstOffset" : 0,
           "rawOffset" : -25200,
           "status" : "OK",
           "timeZoneId" : "America/Denver",
           "timeZoneName" : "Mountain Standard Time"
        }
  recorded_at: Tue, 03 Mar 2020 19:00:00 GMT
recorded_with: VCR 6.0.0
