---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=denver%20co&key=<GEOCODE_API>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Denver",
                       "short_name" : "Denver",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Denver County",
                       "short_name" : "Denver County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Colorado",
                       "short_name" : "CO",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Denver, CO, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    },
                    "location" : {
                       "lat" : 39.7392358,
                       "lng" : -104.990251
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    }
                 },
                 "place_id" : "ChIJzxcfI6qAa4cR1jaKJ_j0jhE",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 02 Mar 2020 19:00:00 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/timezone/json?key=<GEOCODE_API>&location=39.7392358,-104.990251&timestamp=1583175600
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "dstOffset" : 0,
           "rawOffset" : -25200,
           "status" : "OK",
           "timeZoneId" : "America/Denver",
           "timeZoneName" : "Mountain Standard Time"
        }
  recorded_at: Mon, 02 Mar 2020 19:00:00 GMT
[...]
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARKSKY_API>/39.7392358,-104.990251?exclude=daily,hourly,minutely
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 697ms
      X-Forecast-Api-Calls:
      - '112'
      X-Response-Time:
      - 8.899ms
    body:
      encoding: UTF-8
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1584053084,"summary":"Mostly
        Cloudy","icon":"partly-cloudy-day","nearestStormDistance":11,"nearestStormBearing":279,"precipIntensity":0,"precipProbability":0,"temperature":47.39,"apparentTemperature":44.69,"dewPoint":28.47,"humidity":0.48,"pressure":1012.9,"windSpeed":5.77,"windGust":11.33,"windBearing":13,"cloudCover":0.67,"uvIndex":1,"visibility":10,"ozone":328.6},"flags":{"sources":["nwspa","cmc","gfs","hrrr","icon","isd","madis","nam","sref","darksky","nearest-precip"],"nearest-station":1.334,"units":"us"},"offset":-6}

'
  recorded_at: Mon, 02 Mar 2020 19:00:00 GMT
[...]
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARKSKY_API>/39.7392358,-104.990251?exclude=currently,minutely,daily
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 408ms
      X-Forecast-Api-Calls:
      - '113'
      X-Response-Time:
      - 15.650ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","hourly":{"summary":"Snow
        (< 1 in.) tomorrow morning.","icon":"rain","data":[{"time":1584050400,"summary":"Mostly
        Cloudy","icon":"partly-cloudy-day","precipIntensity":0.0013,"precipProbability":0.04,"precipType":"rain","temperature":47.81,"apparentTemperature":45.17,"dewPoint":28.71,"humidity":0.47,"pressure":1012.6,"windSpeed":5.81,"windGust":12.07,"windBearing":18,"cloudCover":0.73,"uvIndex":2,"visibility":10,"ozone":329.8},{"time":1584054000,"summary":"Mostly
        Cloudy","icon":"partly-cloudy-day","precipIntensity":0,"precipProbability":0,"temperature":47.31,"apparentTemperature":44.54,"dewPoint":28.45,"humidity":0.48,"pressure":1013,"windSpeed":5.87,"windGust":10.97,"windBearing":16,"cloudCover"[...]
[...]
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARKSKY_API>/39.7392358,-104.990251?exclude=currently,minutely,hourly
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 35ms
      X-Forecast-Api-Calls:
      - '114'
      X-Response-Time:
      - 57.852ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","daily":{"summary":"Heavy
        rain throughout the week.","icon":"rain","data":[{"time":1583992800,"summary":"Mostly
        cloudy throughout the day.","icon":"rain","sunriseTime":1584018960,"sunsetTime":1584061500,"moonPhase":0.63,"precipIntensity":0.0233,"precipIntensityMax":1.0141,"precipIntensityMaxTime":1583992800,"precipProbability":0.5,"precipType":"rain","temperatureHigh":53.35,"temperatureHighTime":1584021060,"temperatureLow":32.26,"temperatureLowTime":1584108000,"apparentTemperatureHigh":52.85,"apparentTemperatureHighTime":1584021060,"apparentTemperatureLow":26.57,"apparentTemperatureLowTime":1584108000,"dewPoint":25.61,"humidity":0.43,"pressure":1011.9,"windSpeed":6.49,"windGust":19.95,"windGustTime":1584022200,"windBearing":35,"cloudCover":0.73,"uvIndex":4,"uvIndexTime":1584040260,"visibility":10,"ozone":343.5,"temperatureMin":37.99,"temperatureMinTime":1584079200,"temperatureMax":56.15,"temperatureMaxTime":1583995260,"apparentTemperatureMin":34.89,"apparentTemperatureMinTime":1584079200,"apparentTemperatureMax":55.65,"apparentTemperatureMaxTime":1583995260},{"time":1584079200,"summary":"Snow
        (< 1 in.) in the morning.","icon":"rain","sunriseTime":1584105300,"sunsetTime":1584147960,"moonPhase":0.67,"precipIntensity":0.0063,"precipIntensityMax":0.0555,"precipIntensityMaxTime":1584111600,"precipProbability":0.49,"precipType":"rain","temperatureHigh":51.29,"temperatureHighTime":1584133860,"temperatureLow":32.66,"temperatureLowTime":1584188280,"apparentTemperatureHigh":51.3,"apparentTemperatureHighTime":1584134520,"apparentTemperature[...]
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/timezone/json?key=<GEOCODE_API>&location=39.7392358,-104.990251&timestamp=1583175600
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "dstOffset" : 0,
           "rawOffset" : -25200,
           "status" : "OK",
           "timeZoneId" : "America/Denver",
           "timeZoneName" : "Mountain Standard Time"
        }
  recorded_at: Mon, 02 Mar 2020 19:00:00 GMT
recorded_with: VCR 5.1.0
