---
http_interactions:
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARKSKY_API>/39.7392358,-104.990251?exclude=daily,hourly,minutely
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 810ms
      X-Forecast-Api-Calls:
      - '122'
      X-Response-Time:
      - 6.993ms
    body:
      encoding: UTF-8
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1584053229,"summary":"Mostly
        Cloudy","icon":"partly-cloudy-day","nearestStormDistance":11,"nearestStormBearing":279,"precipIntensity":0,"precipProbability":0,"temperature":47.85,"apparentTemperature":45.01,"dewPoint":28.46,"humidity":0.47,"pressure":1012.9,"windSpeed":6.2,"windGust":12.26,"windBearing":8,"cloudCover":0.66,"uvIndex":1,"visibility":10,"ozone":328.5},"flags":{"sources":["nwspa","cmc","gfs","hrrr","icon","isd","madis","nam","sref","darksky","nearest-precip"],"nearest-station":1.334,"units":"us"},"offset":-6}

'
  recorded_at: Tue, 03 Mar 2020 19:00:00 GMT
recorded_with: VCR 5.1.0
