---
http_interactions:
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARKSKY_API>/39.7392358,-104.990251?exclude=daily,hourly,minutely
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 143ms
      X-Forecast-Api-Calls:
      - '14'
      X-Response-Time:
      - 7.515ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1590787319,"summary":"Clear","icon":"clear-day","nearestStormDistance":8,"nearestStormBearing":253,"precipIntensity":0,"precipProbability":0,"temperature":89.39,"apparentTemperature":89.39,"dewPoint":42.85,"humidity":0.2,"pressure":1010.4,"windSpeed":4.39,"windGust":10.13,"windBearing":49,"cloudCover":0.09,"uvIndex":7,"visibility":4.228,"ozone":298.5},"alerts":[{"title":"Air
        Quality Alert","regions":["Adams","Arapahoe","Boulder","Broomfield","Denver","Douglas","Jefferson","Larimer","Weld"],"severity":"advisory","time":1590703920,"expires":1590789600,"description":"...OZONE
        ACTION DAY ALERT FROM 400 PM THURSDAY UNTIL 400 PM FRIDAY... The Colorado
        Department of Public Health and Environment has issued the following... WHAT...Ozone
        Action Day Alert. WHERE...Douglas, Jefferson, Denver, western Arapahoe, western
        Adams, Broomfield, Boulder, Larimer, and Weld Counties WHEN...400 PM Thursday
        May 28 to 400 PM Friday May 29 IMPACTS...Ozone Action Day Alert is now in
        effect for the seven- county Denver- Boulder metrop[...]
