---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?page=1&query=!!!
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID <UNSPLASH_API>
      Accept-Version:
      - v1
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Total:
      - '0'
      X-Per-Page:
      - '10'
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: '{"total":0,"total_pages":0,"results":[]}'
  recorded_at: Fri, 29 May 2020 21:22:17 GMT
recorded_with: VCR 6.0.0
