---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=denver%20co&key=<GEOCODE_API>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Denver",
                       "short_name" : "Denver",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Denver County",
                       "short_name" : "Denver County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Colorado",
                       "short_name" : "CO",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Denver, CO, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    },
                    "location" : {
                       "lat" : 39.7392358,
                       "lng" : -104.990251
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    }
                 },
                 "place_id" : "ChIJzxcfI6qAa4cR1jaKJ_j0jhE",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 02 Mar 2020 19:00:00 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/timezone/json?key=<GEOCODE_API>&location=39.7392358,-104.990251&timestamp=1583175600
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "dstOffset" : 0,
           "rawOffset" : -25200,
           "status" : "OK",
           "timeZoneId" : "America/Denver",
           "timeZoneName" : "Mountain Standard Time"
        }
  recorded_at: Mon, 02 Mar 2020 19:00:00 GMT
[...]
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARKSKY_API>/39.7392358,-104.990251?exclude=minutely
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 997ms
      X-Forecast-Api-Calls:
      - '158'
      X-Response-Time:
      - 93.840ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1583303302,"summary":"Clear","icon":"clear-night","nearestStormDistance":225,"nearestStormBearing":188,"precipIntensity":0,"precipProbability":0,"temperature":40.85,"apparentTemperature":40.01,"dewPoint":18.59,"humidity":0.4,"pressure":1020.9,"windSpeed":3.02,"windGust":6.2,"windBearing":240,"cloudCover":0,"uvIndex":0,"visibility":10,"ozone":328.5},"hourly":{"summary":"Clear
        throughout the day.","icon":"clear-day","data":[{"time":1583301600,"summary":"Clear","icon":"clear-night","precipIntensity":0.0014,"precipProbability":0.01,"precipType":"rain","temperature":41.6,"apparentTemperature":41.6,"dewPoint":18.67,"humidity":0.39,"pressure":1020.6,"windSpeed":2.84,"windGust":6.04,"windBearing":240,"cloudCover":0,"uvIndex":0,"visibility":10,"ozone":328.8},{"time":1583305200,"summary":"Clear","icon":"clear-night","precipIntensity":0.0007,"precipProbability":0.01,"precipType":"rain","temperature":39.77,"apparentTemperature":37.68,"dewPoint":18.51,"humidity":0.42,"pressure":1021,"windSpeed":3.37,"windGust":6.58,"windBearing":229,"cloudCover":0,"uvIndex":0,"visibility":10,"ozone":327.9},{"time":1583308800,"summary":"Clear","icon":"clear-night","precipIntensity":0,"precipProbability":0,"temperature":36.02,"apparentTemperature":31.75,"dewPoint":18.06,"humidity":0.48,"pressure":1021.4,"windSpeed":5.06,"windGust":8.17,"windBearing":201,"cloudCover":0,"uvIndex":0,"visibility":10,"ozone":326.7},{"time":1583312400,"summary":"Clear","icon":"clear-night","precipIntensity":0.0011,"precipProbability":0.01,"precipType":"snow","precipAccumulation":0.0048,"temperature":33.21,"apparentTemperature":27.33,"dewPoint":16.62,"humidity":0.5,"pressure":1021.9,"windSpeed":6.46,"windGust":9.83,"windBearing":204,"cloudCover":0,"uvIndex":0,"visibility":10,"ozone":325.2},{"time":1583316000,"summary":"Clear","icon":"clear-night","precipIntensity":0,"precipProbability":0,"temperature":31.39,"apparentTemperature":25.36,"dewPoint":15.51,"humidity":0.51,"pressure":1021.1,"windSpeed":6.18,"windGust":9.33,"windBearing":201,"cloudCover":0,"uvIndex":0,"visibili[...]
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/timezone/json?key=<GEOCODE_API>&location=39.7392358,-104.990251&timestamp=1583175600
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "dstOffset" : 0,
           "rawOffset" : -25200,
           "status" : "OK",
           "timeZoneId" : "America/Denver",
           "timeZoneName" : "Mountain Standard Time"
        }
  recorded_at: Mon, 02 Mar 2020 19:00:00 GMT
recorded_with: VCR 5.1.0
