---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=denver%20co&key=<GEOCODE_API>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Denver",
                       "short_name" : "Denver",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Denver County",
                       "short_name" : "Denver County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Colorado",
                       "short_name" : "CO",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Denver, CO, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    },
                    "location" : {
                       "lat" : 39.7392358,
                       "lng" : -104.990251
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    }
                 },
                 "place_id" : "ChIJzxcfI6qAa4cR1jaKJ_j0jhE",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 02 Mar 2020 19:00:00 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/timezone/json?key=<GEOCODE_API>&location=39.7392358,-104.990251&timestamp=1583175600
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "dstOffset" : 0,
           "rawOffset" : -25200,
           "status" : "OK",
           "timeZoneId" : "America/Denver",
           "timeZoneName" : "Mountain Standard Time"
        }
  recorded_at: Mon, 02 Mar 2020 19:00:00 GMT
[...]
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARKSKY_API>/39.7392358,-104.990251?exclude=minutely
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 865ms
      X-Forecast-Api-Calls:
      - '17'
      X-Response-Time:
      - 63.990ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1583284867,"summary":"Clear","icon":"clear-night","nearestStormDistance":164,"nearestStormBearing":60,"precipIntensity":0,"precipProbability":0,"temperature":54.32,"apparentTemperature":54.41,"dewPoint":10.73,"humidity":0.17,"pressure":1014.8,"windSpeed":6.53,"windGust":12.6,"windBearing":300,"cloudCover":0,"uvIndex":0,"visibility":10,"ozone":330.4},"hourly":{"summary":"Clear
        throughout the day.","icon":"clear-day","data":[{"time":1583283600,"summary":"Clear","icon":"clear-night","precipIntensity":0,"precipProbability":0,"temperature":55.95,"apparentTemperature":55.95,"dewPoint":10.65,"humidity":0.16,"pressure":1013.8,"windSpeed":7.36,"windGust":15.1,"windBearing":309,"cloudCover":0,"uvIndex":0,"visibility":10,"ozone":331.5},{"time":1583287200,"summary":"Clear","icon":"clear-night","precipIntensity":0,"precipProbability":0,"temperature":50.88,"apparentTemperature":50.88,"dewPoint":11.57,"humidity":0.2,"pressure":[...]
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/timezone/json?key=<GEOCODE_API>&location=39.7392358,-104.990251&timestamp=1583175600
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "dstOffset" : 0,
           "rawOffset" : -25200,
           "status" : "OK",
           "timeZoneId" : "America/Denver",
           "timeZoneName" : "Mountain Standard Time"
        }
  recorded_at: Mon, 02 Mar 2020 19:00:00 GMT
recorded_with: VCR 5.1.0
