---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=Denver%20CO&key=<GEOCODE_API>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Denver, CO
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "access_points" : [
                    {
                       "access_point_type" : "TYPE_ESTABLISHMENT_POI",
                       "location" : {
                          "latitude" : 39.750605,
                          "longitude" : -104.990926
                       },
                       "place_id" : "ChIJrYXVe9l4bIcRvhpeKUy2jFQ",
                       "unsuitable_travel_modes" : []
                    },
                    {
                       "access_point_type" : "TYPE_ESTABLISHMENT_POI",
                       "location" : {
                          "latitude" : 39.7413409,
                          "longitude" : -104.9871046
                       },
                       "place_id" : "ChIJF2OWCtV4bIcRXOq29vexYYw",
                       "unsuitable_travel_modes" : []
                    },
                    {
                       "access_point_type" : "[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/timezone/json?key=<GEOCODE_API>&location=39.7392358,-104.990251&timestamp=1583262000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "dstOffset" : 0,
           "rawOffset" : -25200,
           "status" : "OK",
           "timeZoneId" : "America/Denver",
           "timeZoneName" : "Mountain Standard Time"
        }
  recorded_at: Tue, 03 Mar 2020 19:00:00 GMT
[...]
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARKSKY_API>/39.7392358,-104.990251?exclude=currently,minutely,daily
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 648ms
      X-Forecast-Api-Calls:
      - '20'
      X-Response-Time:
      - 18.223ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","hourly":{"summary":"Possible
        light rain tomorrow evening.","icon":"rain","data":[{"time":1590786000,"summary":"Clear","icon":"clear-day","precipIntensity":0.0012,"precipProbability":0.02,"precipType":"rain","temperature":89.13,"apparentTemperature":89.13,"dewPoint":42.77,"humidity":0.2,"pressure":1010.5,"windSpeed":4.16,"windGust":9.6,"windBearing":36,"cloudCover":0.06,"uvIndex":8,"visibility":3.922,"ozone":298.5},{"time":1590789600,"summary":"Clear","icon":"clear-day","precipIntensity":0.0008,"precipProbability":0.02,"precipType":"rain","temperature":89.35,"apparentTemperature":89.35,"dewPoint":43.31,"humidity":0.2,"pressure":1010.2,"windSpeed":5.13,"windGust":11.34,"windBearing":80,"cloudCover":0.15,"uvIndex":6,"visibility":6.238,"ozone":298.6},{"time":1590793200,"summary":"Clear","icon":"clear-day","precipIntensity":0.0017,"precipProbability":0.02,"precipType":"rain","temperature":87.38,"apparen[...]
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/timezone/json?key=<GEOCODE_API>&location=39.7392358,-104.990251&timestamp=1583262000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "dstOffset" : 0,
           "rawOffset" : -25200,
           "status" : "OK",
           "timeZoneId" : "America/Denver",
           "timeZoneName" : "Mountain Standard Time"
        }
  recorded_at: Tue, 03 Mar 2020 19:00:00 GMT
recorded_with: VCR 6.0.0
