---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=Denver%20CO&key=<GEOCODE_API>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Denver",
                       "short_name" : "Denver",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Denver County",
                       "short_name" : "Denver County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Colorado",
                       "short_name" : "CO",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Denver, CO, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    },
                    "location" : {
                       "lat" : 39.7392358,
                       "lng" : -104.990251
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    }
                 },
                 "place_id" : "ChIJzxcfI6qAa4cR1jaKJ_j0jhE",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Tue, 03 Mar 2020 19:00:00 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/timezone/json?key=<GEOCODE_API>&location=39.7392358,-104.990251&timestamp=1583262000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "dstOffset" : 0,
           "rawOffset" : -25200,
           "status" : "OK",
           "timeZoneId" : "America/Denver",
           "timeZoneName" : "Mountain Standard Time"
        }
  recorded_at: Tue, 03 Mar 2020 19:00:00 GMT
[...]
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARKSKY_API>/39.7392358,-104.990251?exclude=currently,minutely,daily
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 819ms
      X-Forecast-Api-Calls:
      - '107'
      X-Response-Time:
      - 17.774ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","hourly":{"summary":"Snow
        (< 1 in.) tomorrow morning.","icon":"rain","data":[{"time":1584050400,"summary":"Mostly
        Cloudy","icon":"partly-cloudy-day","precipIntensity":0.0013,"precipProbability":0.04,"precipType":"rain","temperature":47.81,"apparentTemperature":45.17,"dewPoint":28.71,"humidity":0.47,"pressure":1012.6,"windSpeed":5.81,"windGust":12.07,"windBearing":18,"cloudCover":0.73,"uvIndex":2,"visibility":10,"ozone":329.8},{"time":1584054000,"summary":"Mostly
        Cloudy","icon":"partly-cloudy-day","precipIntensity":0,"precipProbability":0,"temperature":47.31,"apparentTemperature":44.54,"dewPoint":28.45,"humidity":0.48,"pressure":1013,"windSpeed":5.87,"windGust":10.97,"windBearing":16,"cloudCover":0.66,"uvIndex":1,"visibility":10,"ozone":328.2},{"time":1584057600,"summary":"Mostly
        Cloudy","icon":"partly-cloudy-day","precipIntensity":0,"precipProbability":0,"temperature":47.51,"apparentTemperature[...]
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/timezone/json?key=<GEOCODE_API>&location=39.7392358,-104.990251&timestamp=1583262000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "dstOffset" : 0,
           "rawOffset" : -25200,
           "status" : "OK",
           "timeZoneId" : "America/Denver",
           "timeZoneName" : "Mountain Standard Time"
        }
  recorded_at: Tue, 03 Mar 2020 19:00:00 GMT
recorded_with: VCR 5.1.0
