---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=Denver%20CO&key=<GEOCODE_API>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Denver, CO
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "access_points" : [
                    {
                       "access_point_type" : "TYPE_ESTABLISHMENT_POI",
                       "location" : {
                          "latitude" : 39.750605,
                          "longitude" : -104.990926
                       },
                       "place_id" : "ChIJrYXVe9l4bIcRvhpeKUy2jFQ",
                       "unsuitable_travel_modes" : []
                    },
                    {
                       "access_point_type" : "TYPE_ESTABLISHMENT_POI",
                       "location" : {
                          "latitude" : 39.7413409,
                          "longitude" : -104.9871046
                       },
                       "place_id" : "ChIJF2OWCtV4bIcRXOq29vexYYw",
                       "unsuitable_travel_modes" : []
                    },
                    {
                       "access_point_type" : "[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/timezone/json?key=<GEOCODE_API>&location=39.7392358,-104.990251&timestamp=1583262000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "dstOffset" : 0,
           "rawOffset" : -25200,
           "status" : "OK",
           "timeZoneId" : "America/Denver",
           "timeZoneName" : "Mountain Standard Time"
        }
  recorded_at: Tue, 03 Mar 2020 19:00:00 GMT
[...]
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARKSKY_API>/39.7392358,-104.990251?exclude=currently,minutely,hourly
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 65ms
      X-Forecast-Api-Calls:
      - '21'
      X-Response-Time:
      - 36.848ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","daily":{"summary":"Rain
        tomorrow through Thursday.","icon":"rain","data":[{"time":1590732000,"summary":"Clear
        throughout the day.","icon":"clear-day","sunriseTime":1590752160,"sunsetTime":1590805320,"moonPhase":0.25,"precipIntensity":0.0006,"precipIntensityMax":0.0024,"precipIntensityMaxTime":1590796200,"precipProbability":0.08,"precipType":"rain","temperatureHigh":89.99,"temperatureHighTime":1590788460,"temperatureLow":61.16,"temperatureLowTime":1590837300,"apparentTemperatureHigh":89.49,"apparentTemperatureHighTime":1590788460,"apparentTemperatureLow":61.65,"apparentTemperatureLowTime":1590837300,"dewPoint":50.67,"humidity":0.49,"pressure":1014.2,"windSpeed":4.39,"windGust":17.47,"windGustTime":1590801420,"windBearing":172,"cloudCover":0.11,"uvIndex":11,"uvIndexTime":1590778500,"visibility":5.465,"ozone":299.5,"temperatureMin":58.35,"temperatureMinTime":1590752580,"temperatureMax":89.99,"temperatureMaxTime":1590788460,"apparentTemperatureMin":58.84,"apparentTemperatureMinTime":1590752580,"apparentTemperatureMax":89.49,"apparentTemperatureMaxTime":1590788460},{"time":1590818400,"summary":"Possible
        light rain in the evening.","icon":"rain","sunriseTime":1590838560,"sunsetTime":1590891720,"moonPhase":0.29,"precipIntensity":0.009,"precipIntensityMax":0.0306,"precipIntensityMaxTime":1590894660,"precipProbability":0.61,"precipType":"rain","temperatureHigh":85.02,"temperatureHighTime":1590867840,"temperatureLow":59.31,"temperatureLowTime":1590923880,"apparentTemperatureHigh":84.52,"apparentTemperatureHighTime":1590867840,"apparentTemper[...]
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/timezone/json?key=<GEOCODE_API>&location=39.7392358,-104.990251&timestamp=1583262000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "dstOffset" : 0,
           "rawOffset" : -25200,
           "status" : "OK",
           "timeZoneId" : "America/Denver",
           "timeZoneName" : "Mountain Standard Time"
        }
  recorded_at: Tue, 03 Mar 2020 19:00:00 GMT
recorded_with: VCR 6.0.0
